# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.gradle/
build/
!gradle-wrapper.jar

### Eclipse settings
.metadata/
.classpath
.project
.settings/
bin/

### IntelliJ IDEA settings
.idea/
*.iml